@import url('https://fonts.maateen.me/solaiman-lipi/font.css');


body {
  margin: 0;
  font-family: 'SolaimanLipi', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
